{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <theader>
      <tr>
          <th>Name   </th>
          <th>Email</th>
      </tr>
    </theader>
    <tbody>
    {% if object_list %}
        {% for ob in object_list %}
            <tr>
                <td>  {{ ob.name    }}  </td>
                <td>                                           {{ ob.email }} 
                <a class="btn btn-default btn-sm pull-right" href="{% url 'customer_edit' ob.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td>
                    <p>No customers have been created yet</p>
                </td>
            </tr>
    {% endif %}
        <tr>
            <td colspan="2">
                <a class="btn btn-primary" role="button" href="{% url 'customer_add' %}">Add a customer</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
