{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <theader>
      <tr>
          <th>Date</th>
          <th>Customer</th>
          <th>Variety</th>
          <th>Quantity</th>
          <th>Done</th>
      </tr>
    </theader>
    <tbody>
    {% if object_list %}
        {% for ob in object_list %}
            <tr>
                <td>  {{ ob.date|date:'Y-M-d' }}  </td>
                <td>                                         {{ ob.customer }} </td>
                <td>                                         {{ ob.variety }} </td>
                <td>                                         {{ ob.quantity }} </td>
                <td>                                         {% if ob.done %}Yes{% else %}No{% endif %}
                <a class="btn btn-default btn-sm pull-right" href="{% url 'order_edit' ob.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td>
                    <p>No orders have been created yet</p>
                </td>
            </tr>
    {% endif %}
        <tr>
            <td>
                <a class="btn btn-primary" role="button" href="{% url 'order_add' %}">Add a order</a>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
