{% extends "roastery/base_raw.html" %}

{% load bootstrap %}

{% block body %}

<div class="jumbotron">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="form" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <p>
    {{ form|bootstrap }}
    </p>

    <input type="submit" class="btn btn-lg btn-primary" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

</div>

{% endblock %}
