<!doctype html>
<html>
  <head>
    <title>Roast</title>
  </head>
  <body>
{% block header %}
{% endblock %}
<nav>
    <ul>
        <a href="{% url 'customer_list' %}"><li>Customers</li></a>
        <a href="{% url 'vendor_list' %}"><li>Vendors</li></a>
        <a href="{% url 'bag_list' %}"><li>Bags</li></a>
        <a href="{% url 'batch_list' %}"><li>Batches</li></a>
        <a href="{% url 'unfinished_batch_list' %}"><li>Unroasted batches</li></a>
        <a href="{% url 'orderless_batch_list' %}"><li>Batches without order</li></a>
        <a href="{% url 'order_list' %}"><li>Orders</li></a>
    </ul>
</nav>
{% block main %}
{% endblock %}
  </body>
</html>
