{% extends 'form.html' %}
{% load bootstrap %}
{% load static %}

{% block right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Roast points:</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>   
                    <th>Amount</th>   
                    <th>Credit</th>   
                    <th>Debit</th>   
                </tr>
            </thead>
            <tbody>
                {% verbatim %}
                <tr>
                    <td>{{ timestamp|date:"Y-m-d" }}</td>
                    <td>{{ amount }}</td>
                    <td>{{ credit }}</td>
                    <td>{{ debit }}</td>
                </tr>
                {% endverbatim %}
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Roast timer</h3>
        </div>
        <div class="panel-body">
            <div class="jumbotron">

                <h1 id="timer-display">00:00:00</h1>
                <a id="btn-start" class="btn btn-primary">Start</a>

            </div>

            <form>
                <fieldset>
                    <input type="number" />

                    <div class="btn-group">
                        <button type="button" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">First crack start</a></li>
                            <li><a href="#">First crack end</a></li>
                            <li><a href="#">Second crack start</a></li>
                        </ul>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'roast\js\batch_form.js' %}"> </script>
{% endblock %}
