{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <theader>
    <legend>Batches</legend>
      <tr>
          <th>Bag</th>
          <th>Initial weight</th>
          <th>Date</th>
          <th>Ambient temp</th>
          <th>Program</th>
          <th>Target temp</th>
          <th>Target time</th>
          <th>Final weight</th>
          <th>State</th>
          <th>Edit</th>
      </tr>
    </theader>
    <tbody>
    {% if object_list %}
        {% for ob in object_list %}
            <tr>
                <td>{{ ob.bag.variety }}</td>
                <td>{{ ob.initial_weight }}</td>
                <td>{{ ob.date|date:'Y-M-d' }}</td>
                <td>{{ ob.ambient_temp }}</td>
                <td>{{ ob.program }}</td>
                <td>{{ ob.target_temp }}</td>
                <td>{{ ob.target_time|time:"h:m:s" }}</td>
                <td>{{ ob.final_weight }}</td>
                <td>{{ ob.get_state_display }} </td>
                <td>
                <a class="btn btn-default btn-sm" href="{% url 'batch_edit' ob.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td colspan="10">
                    <p>No batches have been created yet</p>
                </td>
            </tr>
    {% endif %}
        <tr>
            <td colspan="10">
                <a class="btn btn-primary" role="button" href="{% url 'batch_add' %}">Add a batch</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
