{% extends 'form.html' %}
{% load bootstrap %}

{% block right %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Related transactions:</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>   
                        <th>Amount</th>   
                        <th>Credit</th>   
                        <th>Debit</th>   
                    </tr>
                </thead>
                <tbody>
                {% for t in ts %}
                    <tr>
                        <td><a href="{% url 'bagtransaction_edit' t.pk %}" >{{ t.timestamp|date:"Y-m-d" }}</a></td>
                        <td>{{ t.amount }}</td>
                        <td>{{ t.credit }}</td>
                        <td>{{ t.debit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="{% url 'bagtransaction_add' %}?bag={{ object.pk }}" >Add a transaction</a>
        </div>
    </div>
{% endblock %}
