{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Country    </th>
        <th>Area       </th>
        <th>Crop year  </th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody id="varieties">
        {% verbatim %}
        <tr class="overlay-row" data-template data-url="/inventory/varieties/{{ id }}" >
            <td>{{ country }}</td>
            <td>{{ area }}</td>
            <td>{{ crop_year }}</td>
            <td>{{ description }}</td>
        </tr>
        {% endverbatim %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
$(function() {
    $.get(url('variety'), function(d) {
        Tempo.prepare('varieties').render(d.objects);
        updateOverlay();
    });
});
</script>
{% endblock %}
