{% load tags %}
{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>{% block title %}Roastery{% endblock %}</title>
    <!-- Reference bootstrap css -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">

      {% navbar %}

      {% block content %} {% endblock %}

    </div>

    <!-- Bootstrap js -->
    <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tempo/js/tempo.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}

    <div id="div-overlay" >
      <a id="btn-edit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pencil" /></a>
      <a id="btn-delete" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-trash" /></a>
      <button id="btn-delete-confirm" type="button"  class="btn btn-sm btn-danger">YES, DELETE</button> 
    </div>
  </body>
</html>
